.file-tree {
	padding-left: 20px;
}

.file-tree-item {
	list-style-type: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

.file-tree-item a {
	color: inherit;
	text-decoration: none;	
}

.file-tree-item a:hover {
	color: 	#428bca;
}

.file-icon {
	padding-right: 5px ;
}

.item-clicked {
	color: #428bca !important;
}
