<div class="row">
	<div class="btn-toolbar pull-right" style="padding-right: 30px;">
		<div class="btn-group" >
		  <button type="button" class="btn btn-default">
		  	<i class="fa fa-plus fa-lg" aria-hidden="true"></i>
		  </button>
		  <button type="button" class="btn btn-default">
		  	<i class="fa fa-cogs fa-lg" aria-hidden="true"></i>
		  </button>
		  <button type="button" class="btn btn-default">
		  	<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
		  </button>
		</div>	
	</div>
</div>
<div class="row" style="height: 100%; width: 100%">
	<div class="col-md-3" style="height: 100%; padding-right: 0px;">
		<app-navigator></app-navigator>
	</div>
	<div class="col-md-9" style="height: 100%; padding-left: 0px;">
		<app-editor></app-editor>
	</div>	
</div>